.footer {
  width: 100vw;
  padding: 5vh 0 0 0;
  color: #FFF;
  background-color: #e6e6e6;
  text-align: center;
}

.footer-wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.language-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding-bottom: 20px;
}

.language-title{
  color:#4b4b4b;
  font-size: 12px;
  line-height: 30px;
  margin-right: 15px;
}

.footer-wrap-bottom{
  border-top: 1px solid lightgray;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-title {
  font-size: 30px;
  text-decoration: none;
  color:#4b4b4b;
  font-family: 'YuGothic','Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', 'Meiryo','ＭＳ ゴシック',sans-serif;
}

.footer-sub-title{
  font-size: 13px;
  padding-left: 15px;
  font-family: 'YuGothic','Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', 'Meiryo','ＭＳ ゴシック',sans-serif;
}

.sitemap{
  display: flex;
  justify-content: space-between;
}

.copylight{
  font-size: 10px;
  color:#4b4b4b;
}

.footer-link {
  color:#4b4b4b;
  font-size: 12px;
  line-height: 30px;
  margin-right: 15px;
  text-decoration: none;
}