    <div class='search-bar-contents'>
      <%= form_with(url: search_cycle_reviews_path(@cycle), local: true, method: :get, class: "search-form") do |f| %>
        <%= f.text_field :keyword, placeholder: "キーワードから探す", class: "input-box" %>
        <%= f.submit '検索', class: "search-button" %>
      <% end %>
    </div>


