<header class='second-header'>
  <div class="header-top-content">
    <%= link_to root_path, class:"header-title" do %>
      <div>sharecling</div>
      <div class="header-sub-title">〜移動に選択肢を〜</div>
    <% end %>
  </div>
</header>