.cycle-main{
  height: 1000px;
  display: flex;
  background-color: white;
}

.left-side{
  width: 80vw;
  border-right: solid 1px lightgray;
}

.right-side{
  width: 20vw;
}

.top-content{
  height: 120px;
  border-bottom: solid 1px lightgray;
  margin-bottom: 20px;
}

.cycle-content{
  display: flex;
  justify-content: space-around;
}

li{
  list-style: none;
}

.right-side-content{
  margin: 20px 30px;
  padding: 10px;
  background-color: #e6e6e6;
}

.cycle-link{
  background-color: white;
  border: 1px solid lightgray;

}

.cycle-new{
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cycle-new-title{
  padding-top: 10px;
  color:#4b4b4b;
}

.cycle-new-sub{
  margin: 15px 0 10px;
  font-size: 10px;
  color: gray;
}

.test{
  background-color: violet;
}