.bottom-content{
  height: 1100px;
  width: 100%;
  display: flex;
  padding: 15px;
  
}

.cycle-area {
  width: 40%;
  height: 280px;
  border: solid 1px lightgray;
  display: flex;
}

.cycle-img-content {
  width: 200px;
  height: 200px;
}

.cycle-img {
  width: 100%;
  height: 100%;
}

.cycle-info {
  width: 50%;
  color: #4b4b4b;
  font-family: 'YuGothic','Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', 'Meiryo','ＭＳ ゴシック',sans-serif;
  padding: 5px;
  margin-left: 15px;
}

.cycle-detail{
 height: 60%;
 font-size: 12px;
 margin-bottom: 5px;
 color: gray;
}

.cycle-price {
  font-size: 15px;
  margin-bottom: 5px;
}

.review-area{
  width: 59%;
  margin-left: 10px;
  height: 500px;
}

.review-list{
  border: 1px solid lightgray;
  margin-bottom: 20px;
  padding: 3px 10px;
  color: #4b4b4b;
  font-family: 'YuGothic','Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', 'Meiryo','ＭＳ ゴシック',sans-serif;
}

.review-title{
  font-size: 24px;
  text-align: center;
  margin-bottom: 5px;
}

.review-user{
  text-align: end;
  padding-right: 20px;
}

.review-a{
  font-size: 16px;
  margin-bottom: 5px;
}

.review-detail{
  font-size: 14px;
  margin-bottom: 5px;
  padding: 10px 0;
  color: gray; 
}

.review-star{
  text-align: end;
  font-size: 15px;
  padding-right: 5px;
}

.show-links{
  text-decoration: none;
}